html, body {
    min-height: 100%;
    font: 12px Arial;
}
body {
    background: url('./bg.jpg');
    background-size: cover;
}

.container {
    margin: 50px auto;
    max-width: 900px;
    background-color: #fff;
    opacity: .9;
    border-radius: 5px;
    padding: 10px;;
}

#scatterplot-graph {
    position: relative;
}

.title {
    text-align: center;
}

svg text {
    font: 14px Arial;
}

text.cyclist-name, circle {
    cursor: pointer;
}

text.cyclist-name:hover {
    text-decoration: underline;
}

circle.circle_doping {
    fill: red;
}
circle.circle_pure {
    fill: black;
}

.tick, .domain {
    stroke-width: 2px;
}

.tooltip {
    position: absolute;
    font-size: 14px;
    text-align: center;
    width: 200px;
    padding: 10px 5px;
    background: lightgray;
    border-radius: 2px;
    top: 140px;
    left: 100px;
}

